.div_1{
    font-size: x-large;
    color: black;
    border: 2px solid aqua;
    background-color:antiquewhite;
}
.div_2{
    font-size: large;
    color: black;
    border: 2px solid aqua;
    background-color:antiquewhite;
}
.div_3{
    font-size: large;
    color: black;
    border: 2px solid aqua;
    background-color:antiquewhite;
}
.div_4{
    font-size: large;
    color: black;
    border: 2px solid aqua;
    background-color:antiquewhite;
}
.div_5{
    font-size: large;
    color: black;
    border: 2px solid aqua;
    background-color:antiquewhite;
}
.div_6{
    font-size: large;
    color: black;
    border: 2px solid aqua;
    background-color:antiquewhite;
}
img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}